.App {
  text-align: center;
  background-color: #cccccc;
  min-height: 100vh;
  weight: 100vw;
}

.app-header {
  background-color: white;
  display: flex;
  padding: 10px 40px;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .app-header {
    flex-direction: column;
  }
}
#title {
  color: #006400;
  font-weight: 700;
  font-size: 50px;
}

.filter-state {
  height: 3rem;
  width: 15rem;
  border-radius: 20px;
  padding: 1px 10px;
  font-size: 20px;
  font-weight: 500;
  border: 2px green solid;
  color: green;
  outline: none;
}

#body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  justify-content: space-around;
}

@media only screen and (min-width: 650px) and (max-width: 950px) {
  #body {
    grid-template-columns: 300px 300px;
  }
}

@media only screen and (max-width: 650px) {
  #body {
    grid-template-columns: 350px;
    justify-content: center;
  }
}

.state {
  background-color: white;
  border-radius: 20px;
  min-height: 700px;
}

.state-title {
  background-color: green;
  border-radius: 20px 20px 0px 0px;
  height: 15%;
  color: white;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.state-rests {
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
}

.rest {
  border-bottom: 0.5px green solid;
  padding: 5px;
}

.lderr {
  text-align: center;
  font-weight: 800;
  font-size: 70px;
}
